@CHARSET "UTF-8";

.eventBox {}
.eventTitle { font-weight: bold; font-size: 105%; }
.eventTitle a { color: #000; }
.eventTitle a:hover { color: #00c4ff; }
.eventAbstract { text-align: right; }
.eventDescription { text-align: left; float: right; width: 910px; }
.eventDescription p { margin: 0 5px; }
.eventImage { float: left; width: 90px; height: 90px; }
.eventIcon { width: 84px; height: 84px; border: 2px solid #000; }