@CHARSET "UTF-8";
* { font-family: Helvetica, Arial, Sans-serif; font-size: normal; }
img { border: 0 none; }

body { text-align: center; margin: 0; }

#main { text-align: left; width: 1000px; border: 1px solid #000; margin: 10px auto; }

#header { text-align: right; }
#header a { color: #000; text-decoration: none; padding: 5px 15px;}
#header #navigation {}
#header #navigation a { font-weight: bold; }
#header #navigation a:hover { background: #00c4ff; color: #fff; }
#header #navigation ul { list-style: none; float: right; margin: 0; padding: 0; }
#header #navigation ul li { float: left; margin: 5px; }
#header #logo { float: left; width: 160px; height: 80px; background: #ccc; text-align: left; }
#header #logo a { padding: 0; margin: 0; }

#promo { background: #00c4ff; color: #fff; height: 180px; }
#promo #teaser { padding: 25px 0 0 75px; }
#promo #teaser h1 { margin: 0; }
#promo #teaser p { margin: 0; }

.center { text-align: center; }
.right { text-align: right; }

#footer { background: #00c4ff; color: #fff; text-align: center; padding: 25px 15px; }
#footer a { color: #fff; }
#footer a:hover { color: #ff0; }

.leftBlock { float: left; }
.rightBlock { float: right; }

.oneBlock { width: 330px; }
.twoBlock { width: 660px; }

.clear { clear: both; font-size: 0; }
.message { color: #000; background: #0c0; margin: 0 10px; padding: 5px 25px; border: 1px solid #0f0; }
.error { color: #fff; background: #c00; margin: 0 10px; padding: 5px 25px; border: 1px solid #f00; }
