
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.wingz.cc$ [NC]
RewriteRule ^(.*)$ http://wingz.cc/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
