<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Move domain to WWW - wingz.vm" stopProcessing="true">
                    <match url="^(.*)"/>
                    <conditions >
                        <add input="{HTTP_HOST}" pattern="^wingz\.vm$"/>
                    </conditions>
                    <action type="Redirect" url="http://www.wingz.vm/{R:1}"/>
                </rule>
                <rule name="Move domain to WWW - wingz.it" stopProcessing="true">
                    <match url="^(.*)"/>
                    <conditions >
                        <add input="{HTTP_HOST}" pattern="^wingz\.it$"/>
                    </conditions>
                    <action type="Redirect" url="http://www.wingz.it/{R:1}"/>
                </rule>
                <rule name="Move domain to WWW - wingz.be" stopProcessing="true">
                    <match url="^(.*)"/>
                    <conditions >
                        <add input="{HTTP_HOST}" pattern="^wingz\.be$"/>
                    </conditions>
                    <action type="Redirect" url="http://www.wingz.be/{R:1}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>